@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-size: 36px;
  font-weight: bold;
  color: #333;
}

h2 {
  font-size: 24px;
  font-weight: normal;
  color: #666;
}

h3 {
  font-size: 20px;
  font-weight: bold;
  color: #555;
}

h4 {
  font-size: 18px;
  font-weight: normal;
  color: #777;
}
h5 {
  font-size: 16px;
  font-weight: bold;
  color: #888;
}

h6 {
  font-size: 14px;
  font-weight: normal;
  color: #999;
}
